body {
    background-color: rgb(20, 20, 20);
}

* {
    font-family: "Garamond";
}

a {
    color: white;
    text-decoration-thickness: 0.1px;
    text-underline-offset: 5px;
}

.about-container {
    color: rgb(205, 205, 205);
    font-size: 18px;
    padding: 20px;
    width: min(calc(100% - 40px), 700px);
    margin: auto;
}

.about-page {
    color: rgb(205, 205, 205);
    font-size: 18px;
    padding: 20px;
    width: min(calc(100% - 40px), 700px);
    margin: auto;
}

.about-text {
    line-height: 1.6;
}

.idea-container {
    margin-left: 25px;
    margin-right: 25px;
}