body {
    color: white;
    background-color: #1c1c1c;
}

* {
    font-family: "Garamond";
}

a {
    color: white;
    text-decoration-thickness: 0.1px;
    text-underline-offset: 5px;
}

.writing-container {
    color: rgb(205, 205, 205);
    font-size: 18px;
    padding: 20px;
    width: min(calc(100% - 40px), 700px);
    margin: auto;
}

.writingPage {
    color: rgb(205, 205, 205);
    font-size: 18px;
    padding: 20px;
    width: min(calc(100% - 40px), 700px);
    margin: auto;
    line-height: 1.8;
}
